flask
flask-cors
flask-sqlalchemy
flask-jwt-extended
flask-login
numpy>=2.0.0
opencv-python-headless==4.7.0.72
gunicorn
psycopg2-binary
email-validator
python-dotenv
python-chess
sib-api-v3-sdk
celery==5.3.6
redis==5.0.1
boto3==1.34.69